.search {
    width: 40%;
margin-left: 220px;
}

.search-top {
    width: 100%;
}

.search input {
    width: 100%;
    padding: 5px 25px;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 90px;

    margin-left: 150px;
    border-radius: 20px;
}

.search-result {
    width: 100%;
    background-color: white;
    margin-top: 10px;
}

.search-result div {
    /* width: 100%; */
    padding: 10px 25px;
}
.search-product{
    width: 100%;
    width: 100%;
    /* display: block; */
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    /* padding-left: -17px; */
    gap: 16px;
    margin-left: 8px !important;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      
    }

    .card, .product{
        width: 100%;
        display: block;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        margin-left: 61px !important;
      
    }
    .search{
      margin-left: 0px;
    }

  .search-top  .search {
        margin-left: 32px;
    }
}